In [1]:
import pandas as pd
import numpy as np

# Changing options with attributes and dot syntax

In [5]:
data = np.random.randint(0,100, [1000,50])

df = pd.DataFrame(data)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,81,18,68,82,12,91,8,67,2,94,...,34,62,60,36,34,32,49,59,29,85
1,70,98,29,87,14,73,42,96,12,24,...,25,83,49,94,22,88,53,98,78,40
2,27,25,51,76,48,38,59,44,94,4,...,78,99,87,2,69,57,97,4,33,8
3,41,54,48,87,74,18,51,7,20,11,...,18,85,45,85,5,85,84,79,35,10
4,40,30,53,16,24,23,70,34,83,89,...,86,50,69,59,62,49,83,94,97,58

In [6]:
pd.options.display.max_rows = 10

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,81,18,68,82,12,91,8,67,2,94,...,34,62,60,36,34,32,49,59,29,85
1,70,98,29,87,14,73,42,96,12,24,...,25,83,49,94,22,88,53,98,78,40
2,27,25,51,76,48,38,59,44,94,4,...,78,99,87,2,69,57,97,4,33,8
3,41,54,48,87,74,18,51,7,20,11,...,18,85,45,85,5,85,84,79,35,10
4,40,30,53,16,24,23,70,34,83,89,...,86,50,69,59,62,49,83,94,97,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,37,18,79,12,89,18,17,42,92,69,...,93,48,60,20,84,19,98,85,43,31
996,80,96,42,52,65,76,72,83,25,53,...,55,38,20,78,30,4,95,42,3,47
997,67,79,1,15,37,0,46,96,94,82,...,62,6,23,40,85,28,59,68,52,39
998,43,25,18,60,94,80,53,76,64,95,...,98,26,61,31,58,70,21,68,28,73
999,15,14,28,72,22,13,86,19,54,2,...,97,4,63,1,88,87,92,83,73,1

In [8]:
pd.options.display.max_columns = 4

In [9]:
df

     0   1  ...  48  49
0    81  18 ...  29  85
1    70  98 ...  78  40
2    27  25 ...  33   8
3    41  54 ...  35  10
4    40  30 ...  97  58
..   ..  .. ...  ..  ..
995  37  18 ...  43  31
996  80  96 ...   3  47
997  67  79 ...  52  39
998  43  25 ...  28  73
999  15  14 ...  73   1

[1000 rows x 50 columns]

In [10]:
data = np.random.randint(0,100, [1000,50])

df = pd.DataFrame(data)

df.head()

   0   1  ...  48  49
0  18  56 ...  66   2
1  85  26 ...  62  52
2  83  45 ...   1  59
3  58  87 ...  79  55
4  70  61 ...  32  79

[5 rows x 50 columns]

In [11]:
pd.get_option("max_rows")

10

In [12]:
pd.get_option("max_columns")

4

In [13]:
pd.set_option("max_row" , 8)

In [14]:
pd.get_option("max_rows")

8

In [15]:
pd.reset_option("max_rows")

In [16]:
pd.get_option("max_rows")

60