In [2]:
import pandas as pd
from pandas_datareader import data

In [4]:
companies = ["MSFT" , "GOOG", "AAPL", "YHOO" , "AMZN"]

p = data.DataReader(name = companies , data_source = "google" ,
                start = "2010-01-01",
                 end = "2016-12-31")

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

# Axes of Panel

In [5]:
companies = ["MSFT" , "GOOG", "AAPL", "YHOO" , "AMZN"]

p = data.DataReader(name = companies , data_source = "google" ,
                start = "2010-01-01",
                 end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [6]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [7]:
p.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1761, freq=None)

In [9]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [10]:
p.axes  # 3 dimensions

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1761, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

# Panel Attributes

In [12]:
p.ndim

3

In [13]:
p.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [14]:
p.shape

(5, 1761, 5)

In [15]:
p.size

44025

In [16]:
5*1761*5

44025

In [19]:
p.values

array([[[  3.04900000e+01,   1.36250000e+02,   3.13160000e+02,
           3.06200000e+01,   1.69400000e+01],
        [  3.06600000e+01,   1.33430000e+02,   3.13280000e+02,
           3.08500000e+01,   1.72200000e+01],
        [  3.06300000e+01,   1.34600000e+02,   3.12620000e+02,
           3.08800000e+01,   1.71700000e+01],
        ...,
        [  1.17520000e+02,   7.76250000e+02,   7.93700000e+02,
           6.34000000e+01,   3.91200000e+01],
        [  1.16450000e+02,   7.72400000e+02,   7.83330000e+02,
           6.28600000e+01,   3.87600000e+01],
        [  1.16650000e+02,   7.66470000e+02,   7.82750000e+02,
           6.29600000e+01,   3.87200000e+01]],

       [[  3.06400000e+01,   1.36610000e+02,   3.14440000e+02,
           3.11000000e+01,   1.72000000e+01],
        [  3.08000000e+01,   1.35480000e+02,   3.13610000e+02,
           3.11000000e+01,   1.72300000e+01],
        [  3.07500000e+01,   1.34730000e+02,   3.12620000e+02,
           3.10800000e+01,   1.73000000e+01],
        ...,
        [  1.18020000e+02,   7.80000000e+02,   7.94230000e+02,
           6.34000000e+01,   3.92200000e+01],
        [  1.17110000e+02,   7.73400000e+02,   7.85930000e+02,
           6.32000000e+01,   3.89300000e+01],
        [  1.17200000e+02,   7.67400000e+02,   7.82780000e+02,
           6.29900000e+01,   3.90000000e+01]],

       [[  3.03400000e+01,   1.33140000e+02,   3.11810000e+02,
           3.05900000e+01,   1.68800000e+01],
        [  3.04600000e+01,   1.31810000e+02,   3.10460000e+02,
           3.06400000e+01,   1.70000000e+01],
        [  3.01100000e+01,   1.31650000e+02,   3.02880000e+02,
           3.05200000e+01,   1.70700000e+01],
        ...,
        [  1.16200000e+02,   7.70500000e+02,   7.83200000e+02,
           6.28300000e+01,   3.87100000e+01],
        [  1.16400000e+02,   7.60850000e+02,   7.78920000e+02,
           6.27300000e+01,   3.84800000e+01],
        [  1.15430000e+02,   7.48280000e+02,   7.70410000e+02,
           6.20300000e+01,   3.84300000e+01]],

       [[  3.05700000e+01,   1.33900000e+02,   3.13060000e+02,
           3.09500000e+01,   1.71000000e+01],
        [  3.06300000e+01,   1.34690000e+02,   3.11680000e+02,
           3.09600000e+01,   1.72300000e+01],
        [  3.01400000e+01,   1.32250000e+02,   3.03830000e+02,
           3.07700000e+01,   1.71700000e+01],
        ...,
        [  1.16760000e+02,   7.72130000e+02,   7.85050000e+02,
           6.29900000e+01,   3.87300000e+01],
        [  1.16730000e+02,   7.65150000e+02,   7.82790000e+02,
           6.29000000e+01,   3.86400000e+01],
        [  1.15820000e+02,   7.49870000e+02,   7.71820000e+02,
           6.21400000e+01,   3.86700000e+01]],

       [[  1.23432050e+08,   7.60054300e+06,              nan,
           3.84141850e+07,   1.65889570e+07],
        [  1.50476004e+08,   8.85645600e+06,              nan,
           4.97588620e+07,   1.17181260e+07],
        [  1.38039594e+08,   7.18097700e+06,              nan,
           5.81823320e+07,   1.64219600e+07],
        ...,
        [  2.09058920e+07,   3.30102500e+06,   1.15382400e+06,
           1.46533480e+07,   4.42836800e+06],
        [  1.50395190e+07,   3.15829900e+06,   7.44272000e+05,
           1.02505820e+07,   4.17049700e+06],
        [  3.05862650e+07,   4.13944900e+06,   1.76995000e+06,
           2.55799080e+07,   6.43279200e+06]]])

# Use Bracket notation to Extract a DataFrame

In [20]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [22]:
p["Open"].head()

             AAPL    AMZN    GOOG   MSFT   YHOO
Date
2010-01-04  30.49  136.25  313.16  30.62  16.94
2010-01-05  30.66  133.43  313.28  30.85  17.22
2010-01-06  30.63  134.60  312.62  30.88  17.17
2010-01-07  30.25  132.01  304.40  30.63  16.81
2010-01-08  30.04  130.56  295.70  30.28  16.68

In [23]:
p["High"].head()

             AAPL    AMZN    GOOG   MSFT   YHOO
Date
2010-01-04  30.64  136.61  314.44  31.10  17.20
2010-01-05  30.80  135.48  313.61  31.10  17.23
2010-01-06  30.75  134.73  312.62  31.08  17.30
2010-01-07  30.29  132.32  304.70  30.70  16.90
2010-01-08  30.29  133.68  301.32  30.88  16.76

In [24]:
p["Volume"].head()

                   AAPL        AMZN  GOOG        MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0   NaN  38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0   NaN  49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0   NaN  58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0   NaN  50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0   NaN  51201289.0  15471074.0

In [25]:
type(p["Volume"])

pandas.core.frame.DataFrame

In [27]:
p.Volume.head()

                   AAPL        AMZN  GOOG        MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0   NaN  38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0   NaN  49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0   NaN  58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0   NaN  50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0   NaN  51201289.0  15471074.0

# .loc[], .iloc[], .ix[] Methods

In [30]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [32]:
p.loc["Close"].head()

             AAPL    AMZN    GOOG   MSFT   YHOO
Date
2010-01-04  30.57  133.90  313.06  30.95  17.10
2010-01-05  30.63  134.69  311.68  30.96  17.23
2010-01-06  30.14  132.25  303.83  30.77  17.17
2010-01-07  30.08  130.00  296.75  30.45  16.70
2010-01-08  30.28  133.52  300.71  30.66  16.70

In [36]:
p.loc["Close" , "2010-01-08"]

AAPL     30.28
AMZN    133.52
GOOG    300.71
MSFT     30.66
YHOO     16.70
Name: 2010-01-08 00:00:00, dtype: float64

In [37]:
p.loc["Close" , "2010-01-08", "AAPL"]

30.280000000000001

In [38]:
p.loc["Low" , "2010-01-08", "AAPL"]

29.870000000000001

In [39]:
p.loc["High" , "2010-01-08", "AAPL"]

30.289999999999999

In [41]:
p.iloc[0].head()  # 0 for Open Data frame means 1st DataFrame

             AAPL    AMZN    GOOG   MSFT   YHOO
Date
2010-01-04  30.49  136.25  313.16  30.62  16.94
2010-01-05  30.66  133.43  313.28  30.85  17.22
2010-01-06  30.63  134.60  312.62  30.88  17.17
2010-01-07  30.25  132.01  304.40  30.63  16.81
2010-01-08  30.04  130.56  295.70  30.28  16.68

In [45]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [42]:
p.iloc[0,200]

AAPL     44.14
AMZN    158.78
GOOG    303.77
MSFT     25.26
YHOO     15.79
Name: 2010-10-20 00:00:00, dtype: float64

In [43]:
p.iloc[0,200,3]

25.260000000000002

In [44]:
p.iloc[3,200,3]

25.309999999999999

In [46]:
p.ix["High" , 500]

AAPL     58.32
AMZN    176.65
GOOG    322.18
MSFT     26.15
YHOO     16.05
Name: 2011-12-28 00:00:00, dtype: float64

In [47]:
p.ix["High" , 500, "YHOO"]

16.050000000000001

# Converting Panel to MultiIndex DataFrame

In [51]:
p.to_frame().head(10)

                    Open    High     Low   Close       Volume
Date       minor
2010-01-04 AAPL    30.49   30.64   30.34   30.57  123432050.0
           AMZN   136.25  136.61  133.14  133.90    7600543.0
           MSFT    30.62   31.10   30.59   30.95   38414185.0
           YHOO    16.94   17.20   16.88   17.10   16588957.0
2010-01-05 AAPL    30.66   30.80   30.46   30.63  150476004.0
           AMZN   133.43  135.48  131.81  134.69    8856456.0
           MSFT    30.85   31.10   30.64   30.96   49758862.0
           YHOO    17.22   17.23   17.00   17.23   11718126.0
2010-01-06 AAPL    30.63   30.75   30.11   30.14  138039594.0
           AMZN   134.60  134.73  131.65  132.25    7180977.0

In [52]:
df = p.to_frame()

In [55]:
p2 = df.to_panel()

p2

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

# The .major_xs() Method

In [56]:
p.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1761, freq=None)

In [57]:
p.major_xs("2014-01-15")

        Open    High     Low   Close      Volume
AAPL   79.07   80.03   78.81   79.62  98472619.0
AMZN  398.94  399.31  392.53  395.87   2678794.0
GOOG  575.92  576.92  571.32  573.74         NaN
MSFT   35.90   36.79   35.85   36.76  44909545.0
YHOO   41.06   41.30   40.76   41.07   9496963.0

# The .minor_xs() Method

In [61]:
p.minor_xs('AAPL').head()

             Open   High    Low  Close       Volume
Date
2010-01-04  30.49  30.64  30.34  30.57  123432050.0
2010-01-05  30.66  30.80  30.46  30.63  150476004.0
2010-01-06  30.63  30.75  30.11  30.14  138039594.0
2010-01-07  30.25  30.29  29.86  30.08  119282324.0
2010-01-08  30.04  30.29  29.87  30.28  111969081.0

In [62]:
p.minor_xs('GOOG').head()

              Open    High     Low   Close  Volume
Date
2010-01-04  313.16  314.44  311.81  313.06     NaN
2010-01-05  313.28  313.61  310.46  311.68     NaN
2010-01-06  312.62  312.62  302.88  303.83     NaN
2010-01-07  304.40  304.70  296.03  296.75     NaN
2010-01-08  295.70  301.32  294.26  300.71     NaN

# .transpose() Method

In [67]:
p2 = p.transpose(2 , 1, 0)  # 2 for company name, 1 is for date and 0 is for column name(dataframe)

In [66]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [68]:
p2

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: AAPL to YHOO
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: Open to Volume

In [69]:
# Above looks at difference of Item_axis, Major_axis and Minor_axis values

In [71]:
p2["AAPL"].head()

             Open   High    Low  Close       Volume
Date
2010-01-04  30.49  30.64  30.34  30.57  123432050.0
2010-01-05  30.66  30.80  30.46  30.63  150476004.0
2010-01-06  30.63  30.75  30.11  30.14  138039594.0
2010-01-07  30.25  30.29  29.86  30.08  119282324.0
2010-01-08  30.04  30.29  29.87  30.28  111969081.0

In [73]:
p2["GOOG"].head()

              Open    High     Low   Close  Volume
Date
2010-01-04  313.16  314.44  311.81  313.06     NaN
2010-01-05  313.28  313.61  310.46  311.68     NaN
2010-01-06  312.62  312.62  302.88  303.83     NaN
2010-01-07  304.40  304.70  296.03  296.75     NaN
2010-01-08  295.70  301.32  294.26  300.71     NaN

In [75]:
p2.major_xs("2010-12-31")

               AAPL        AMZN    GOOG         MSFT        YHOO
Open          46.14      181.96  298.07        27.80       16.74
High          46.21      182.30  298.91        27.92       16.76
Low           45.90      179.51  295.72        27.63       16.47
Close         46.08      180.00  296.69        27.91       16.63
Volume  48413827.00  3453895.00     NaN  24791329.00  7760301.00

In [77]:
p2.minor_xs("Volume").head()

                   AAPL        AMZN  GOOG        MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0   NaN  38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0   NaN  49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0   NaN  58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0   NaN  50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0   NaN  51201289.0  15471074.0

# .swapaxes() Method()

In [78]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [81]:
p.swapaxes("items" , "minor")  # notice difference in Item_axis and Minor_axis values

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: AAPL to YHOO
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: Open to Volume

In [82]:
p2 =p.swapaxes("items" , "minor")

In [85]:
p.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1761, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

In [86]:
p2.axes

[Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1761, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

In [87]:
p2["MSFT"].head()

             Open   High    Low  Close      Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185.0
2010-01-05  30.85  31.10  30.64  30.96  49758862.0
2010-01-06  30.88  31.08  30.52  30.77  58182332.0
2010-01-07  30.63  30.70  30.19  30.45  50564285.0
2010-01-08  30.28  30.88  30.24  30.66  51201289.0

In [91]:
p2.major_xs("2014-03-03")

               AAPL        AMZN    GOOG         MSFT         YHOO
Open          74.77      358.74  602.77        37.92        37.65
High          75.81      360.96  603.32        38.13        38.66
Low           74.69      354.48  595.47        37.50        37.43
Close         75.39      359.78  600.74        37.78        38.25
Volume  59784494.00  2804261.00     NaN  29726792.00  14716892.00

In [93]:
p2.minor_xs("Close").head()

             AAPL    AMZN    GOOG   MSFT   YHOO
Date
2010-01-04  30.57  133.90  313.06  30.95  17.10
2010-01-05  30.63  134.69  311.68  30.96  17.23
2010-01-06  30.14  132.25  303.83  30.77  17.17
2010-01-07  30.08  130.00  296.75  30.45  16.70
2010-01-08  30.28  133.52  300.71  30.66  16.70