In [1]:
import pandas as pd
import datetime as dt

# datetime Module

In [12]:
dt.date(2016, 8, 11)   # Year MM DD

datetime.date(2016, 8, 11)

In [13]:
someday = dt.date(2016, 8, 11)   # Year MM DD

In [14]:
 someday.year

2016

In [15]:
someday.month

8

In [16]:
someday.day

11

In [17]:
dt.datetime(2016, 8, 11)  # default hr and min will be added

datetime.datetime(2016, 8, 11, 0, 0)

In [18]:
dt.datetime(2016, 8, 11 , 8 ,30, 57)  # hr min and second added

datetime.datetime(2016, 8, 11, 8, 30, 57)

In [19]:
dt.datetime(2016, 8, 11 , 17 ,30, 57)  # evening 5 p.m 30 mins and 57 seconds

datetime.datetime(2016, 8, 11, 17, 30, 57)

In [21]:
str(dt.datetime(2016, 8, 11 , 17 ,30, 57))

'2016-08-11 17:30:57'

In [22]:
str(someday)

'2016-08-11'

In [23]:
sometime = dt.datetime(2016, 8, 11 , 17 ,30, 57)

In [24]:
sometime.day

11

In [25]:
sometime.year

2016

In [26]:
sometime.month

8

In [27]:
sometime.hour

17

In [29]:
sometime.minute

30

In [30]:
sometime.second

57

# The pandas timestamp object

In [31]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [32]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [33]:
pd.Timestamp("2013 ,11, 13")

Timestamp('2013-11-13 00:00:00')

In [34]:
pd.Timestamp("1/1/2014")

Timestamp('2014-01-01 00:00:00')

In [35]:
pd.Timestamp("19/12/2016")  # Pandas will figure out month and date. original provided in DD/MM/YYYY format

Timestamp('2016-12-19 00:00:00')

In [36]:
pd.Timestamp("4/3/2000")

Timestamp('2000-04-03 00:00:00')

In [37]:
pd.Timestamp("2021-03-08 08:25:57")

Timestamp('2021-03-08 08:25:57')

In [38]:
pd.Timestamp("2021-03-08 08:25:57 PM")

Timestamp('2021-03-08 20:25:57')

In [39]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [40]:
pd.Timestamp(dt.datetime(2015,3,7,3,6,33))

Timestamp('2015-03-07 03:06:33')

# The pandas DateTimeIndex Object

In [41]:
dates = ["2016-01-01" , "2016-04-03" , "2016-09-04"]

In [42]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-01', '2016-04-03', '2016-09-04'], dtype='datetime64[ns]', freq=None)

In [44]:
type(pd.DatetimeIndex(dates))

pandas.tseries.index.DatetimeIndex

In [47]:
dates = ["2016/01/01" , "2016/04/03" , "2016/09/04"]
dtIndex = pd.DatetimeIndex(dates)

In [49]:
values = [100,200,300]
pd.Series(data = values , index = dtIndex)

2016-01-01    100
2016-04-03    200
2016-09-04    300
dtype: int64

# the pd.to_datetime() Method

In [50]:
pd.to_datetime("2019-04-19")

Timestamp('2019-04-19 00:00:00')

In [53]:
pd.to_datetime(dt.date(2016 ,8, 11))

Timestamp('2016-08-11 00:00:00')

In [56]:
pd.to_datetime(["2015-02-05" , "2016/5/12" , "2014" , "Aug 11th 1983" , "July 4th, 2012"])

DatetimeIndex(['2015-02-05', '2016-05-12', '2014-01-01', '1983-08-11',
               '2012-07-04'],
              dtype='datetime64[ns]', freq=None)

In [58]:
times = pd.Series(["2015-02-05" , "2016/5/12" , "2014" , "Aug 11th 1983"])  # creating series

In [59]:
pd.to_datetime(times)  # Passing series as a parameter

0   2015-02-05
1   2016-05-12
2   2014-01-01
3   1983-08-11
dtype: datetime64[ns]

In [62]:
dates = pd.Series([ "July 5th 1996" , "10/04/2000" ,"Hello" , "2015-02-31"]   )

dates

0    July 5th 1996
1       10/04/2000
2            Hello
3       2015-02-31
dtype: object

In [64]:
pd.to_datetime(dates , errors= "coerce")

0   1996-07-05
1   2000-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

# Import Financial Dataset with pandas_datareader library

In [65]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [67]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"


stocks = data.DataReader(name = company, data_source = "google" ,start = start , end =end)

stocks.head()

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332
2010-01-07  30.63  30.70  30.19  30.45  50564285
2010-01-08  30.28  30.88  30.24  30.66  51201289

In [68]:
stocks.values

array([[  3.06200000e+01,   3.11000000e+01,   3.05900000e+01,
          3.09500000e+01,   3.84141850e+07],
       [  3.08500000e+01,   3.11000000e+01,   3.06400000e+01,
          3.09600000e+01,   4.97588620e+07],
       [  3.08800000e+01,   3.10800000e+01,   3.05200000e+01,
          3.07700000e+01,   5.81823320e+07],
       ...,
       [  6.89100000e+01,   6.91400000e+01,   6.76900000e+01,
          6.84600000e+01,   3.95488180e+07],
       [  6.86800000e+01,   6.95500000e+01,   6.85000000e+01,
          6.94100000e+01,   3.19543620e+07],
       [  6.97100000e+01,   6.97100000e+01,   6.91300000e+01,
          6.93000000e+01,   2.39061190e+07]])

In [69]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [70]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24',
               '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28',
               '2017-05-01', '2017-05-02'],
              dtype='datetime64[ns]', name='Date', length=1844, freq=None)

In [71]:
stocks.index[0]

Timestamp('2010-01-04 00:00:00')

In [72]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24',
                '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28',
                '2017-05-01', '2017-05-02'],
               dtype='datetime64[ns]', name='Date', length=1844, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

In [75]:
stocks.loc["2014-03-04"]
stocks.iloc[300]

Open            25.08
High            25.47
Low             25.00
Close           25.39
Volume    76064201.00
Name: 2011-03-15 00:00:00, dtype: float64

In [79]:
specific_day = pd.date_range(start = "2010-08-11" ,end = "2017-08-11" , freq = pd.DateOffset(years=1))
specific_day

DatetimeIndex(['2010-08-11', '2011-08-11', '2012-08-11', '2013-08-11',
               '2014-08-11', '2015-08-11', '2016-08-11', '2017-08-11'],
              dtype='datetime64[ns]', freq='<DateOffset: kwds={'years': 1}>')

In [83]:
stocks[stocks.index.isin(specific_day)]
#or 
stocks.loc[stocks.index.isin(specific_day)]

             Open   High    Low  Close    Volume
Date
2010-08-11  24.68  24.90  24.56  24.86  76745824
2011-08-11  24.50  25.38  24.40  25.19  90697205
2014-08-11  43.26  43.45  43.02  43.20  20351600
2015-08-11  46.82  46.94  45.90  46.41  29237402
2016-08-11  58.03  58.45  58.03  58.30  18162301

In [85]:
stocks.insert(0,"Day of Week" , stocks.index.weekday_name)

In [86]:
stocks.head()

           Day of Week   Open   High    Low  Close    Volume
Date
2010-01-04      Monday  30.62  31.10  30.59  30.95  38414185
2010-01-05     Tuesday  30.85  31.10  30.64  30.96  49758862
2010-01-06   Wednesday  30.88  31.08  30.52  30.77  58182332
2010-01-07    Thursday  30.63  30.70  30.19  30.45  50564285
2010-01-08      Friday  30.28  30.88  30.24  30.66  51201289